@import url("./nomalize.css");

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 14px;
  word-break: keep-all;
  font-family: Pretendard, -apple-system;
  letter-spacing: -0.3px;
  color: rgb(0, 28, 3);
  padding-bottom: 2rem;
  margin: 0px;
  text-size-adjust: 100%;
  height: 9999px;
}
body::before {
  position: fixed;
  z-index: 1;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, rgb(0, 255, 0) 30%, #03c75a);
}

#container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

section {
  padding: 0.2rem;
}
p {
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
}

h3,
h4 {
  font-size: 2rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
}

hr {
  box-sizing: border-box;
  height: 0;
  overflow: visible;
  margin-top: 50px;
}

.period-mark {
  color: #03c75a;
}

.big-paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
}
.row {
  display: flex;
  margin-bottom: 100px;
}
.row-left {
  flex-basis: 15rem;
}
.row-right {
  padding-left: 3rem;
}

.role,
.time {
  display: block;
}

section {
  border-bottom: 1px solid #03c75a;
  padding-bottom: 50px;
}
